<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Pop Merch Store.com</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="bx bx-menu icon"></label>

        <div class="logo"> 
            <a href="#">K-Pop Merch Store</a>
            <span>.</span>
        </div>

        <nav class="navbar">
            <a href="/home">home</a>
            <a href="/officialmerchandise">official merchandise</a>
            <a href="/albums">albums</a>
            <a href="/lightsticks">light sticks</a>
            <a href="/adminpage">adminpage</a> <!-- New adminpage link -->
        </nav>
        
        <div class="icons">
            <form action="/logout" method="POST">
                <button type="submit" class="logout">Logout</button>
            </form>
        </div>
    </header>
</body>
</html>
