<%- include ("partials/header.ejs") %>

<section class="admin-pages" id="add-product">
    <h1>Add Product</h1>
    <form action="/adminpage/addproduct" method="POST" enctype="multipart/form-data">
        <table border="0" class="form-admin">
            <tr>
                <td class="label">Judul:</td>
                <td><input type="text" name="judul" required></td>
            </tr>
            <tr>
                <td class="label">Deskripsi:</td>
                <td><input type="text" name="deskripsi" required></td>
            </tr>
            <tr>
                <td class="label">Harga:</td> 
                <td><input type="text" name="harga" required></td>
            </tr>
            <tr>
                <td class="label">Kategori:</td>
                <td>
                    <select name="kategori">
                        <option value="albums">Albums</option>
                        <option value="lightsticks">Lightsticks</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">Gambar:</td>
                <td><input type="file" name="gambar" required></td>
            </tr>
        </table>
        <div class="btn-add"><button type="submit">Add Product</button></div>
    </form>
</section>
</body>
</html>
