<%- include ("partials/header.ejs") %>

<section class="products" id="products">

        <h1 class="heading-pages"> <span> albums </span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 1.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS Proof Set</h3>
                    <div class="price"> Rp987.000 </span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 2.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS Butter Set</h3>
                    <div class="price"> Rp473.000 </span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 3.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS BE Essential Edition</h3>
                    <div class="price"> Rp256.000 </span> </div>
                </div>
            </div>
    
            
    
        </div>
</section>