<%- include ("partials/header.ejs") %>
    <section class="beranda" id="beranda">

        <div class="content">
            <div>
                <img src="/header.jpg">
            </div>
            <div class="desc">
                <h3>Welcome to K-Pop Merch Store!</h3>
                <span>We only sell original and trusted goods</span>
                <p></p>
            </div>
        </div>

    </section>
    <section class="tentang" id="tentang">

        <h1 class="heading"> <span> about </span> us </h1>

        <div class="row">
            <div class="video-container">
                <video src="real vs fake.mp4" loop autoplay muted></video>
                <h3>credit:@angoo</h3>
            </div>

            <div class="content">
                <p>Hello, welcome to K-Pop Merch Store. K-Pop Merch Store is a website that only sells original items
                    about K-Pop and is trusted. The video beside is an example of the difference between official
                    merchandise and unofficial merchandise. So make sure you buy your favorite items that are official.
                    Happy shopping ♡ </p>
            </div>
        </div>

    </section>

    <section class="products" id="products">

        <h1 class="heading"> official<span> merchandise </span> </h1>

        <div class="box-container">

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>A4 PHOTO - aespa 'Armageddon : The Mystery Circle' POP-UP MD</h3>
                    <div class="price"> Rp180.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>T-SHIRT SET - aespa 'Armageddon : The Mystery Circle' POP-UP MD</h3>
                    <div class="price"> Rp658.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>ACRYLIC KEY RING - aespa 'Armageddon : The Mystery Circle' POP-UP MD</h3>
                    <div class="price"> Rp246.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 merch 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127〈WORLD TOUR〉NEO ZONE - Lanyard</h3>
                    <div class="price"> Rp162.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 merch 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127〈WORLD TOUR〉NEO ZONE - BEANIE</h3>
                    <div class="price"> Rp673.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 merch 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127〈WORLD TOUR〉NEO ZONE - TOTE BAG</h3>
                    <div class="price"> Rp324.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream merch 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GYM SACK SET - 2024 NCT DREAM WORLD TOUR 〈THE DREAM SHOW 3：DREAM( )SCAPE〉</h3>
                    <div class="price"> Rp740.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream merch 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>POSTCARD SET - 2024 NCT DREAM WORLD TOUR 〈THE DREAM SHOW 3：DREAM( )SCAPE〉</h3>
                    <div class="price"> Rp164.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream merch 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>IMAGE PICKET SET - 2024 NCT DREAM 'DREAM( )SCAPE ZONE' POP-UP MD</h3>
                    <div class="price"> Rp312.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink merch 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK - 'TASTE THAT BUCKET HAT</h3>
                    <div class="price"> Rp568.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink merch 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK - 'THE ALBUM KEYCHAIN</h3>
                    <div class="price"> Rp324.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink merch 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK - 'LOVESICK GIRLS SWEATPANTS I</h3>
                    <div class="price"> Rp1.054.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts merch 1.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS MONOCHROME MINI PHOTO CARD</h3>
                    <div class="price"> Rp119.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts merch 2.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS MONOCHROME Crewneck Shirt (Black)</h3>
                    <div class="price"> Rp1.050.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts merch 3.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS MONOCHROME Mini Pouch</h3>
                    <div class="price"> Rp372.000 </span> </div>
                </div>
            </div>

        </div>
    </section>

    <section class="products" id="products">

        <h1 class="heading"> <span> albums </span> </h1>

        <div class="box-container">

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa album 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>aespa - The 1st Album [Armageddon] (Authentic Ver.)</h3>
                    <div class="price"> Rp420.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa album 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>aespa - The 1st Album [Armageddon] (Superbeing Ver.) (Random Ver.)</h3>
                    <div class="price"> Rp340.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa album 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>aespa - The 1st Album [Armageddon] (Zine Ver.)</h3>
                    <div class="price"> Rp270.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 1.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS Proof Set</h3>
                    <div class="price"> Rp987.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 2.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS Butter Set</h3>
                    <div class="price"> Rp473.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts album 3.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS BE Essential Edition</h3>
                    <div class="price"> Rp256.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 album 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127 The 5th Album 'Fact Check' (D2C Exclusive Exhibit Ver.)</h3>
                    <div class="price"> Rp313.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 album 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127 The 5th Album 'Fact Check' (Exhibit Ver.) - Random</h3>
                    <div class="price"> Rp313.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 album 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127 The 5th Album 'Fact Check' (Chandelier Ver.) (Photobook Ver.)</h3>
                    <div class="price"> Rp412.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink album 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK Track on BORN PINK [PINK VENOM]</h3>
                    <div class="price"> Rp616.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink album 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK 2nd MINI ALBUM [KILL THIS LOVE]</h3>
                    <div class="price"> Rp210.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink album 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK 3nd ALBUM [HOW YOU LIKE THAT]</h3>
                    <div class="price"> Rp267.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream album 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT DREAM( )SCAPE' (Photobook Ver.) - Random</h3>
                    <div class="price"> Rp313.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream album 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT DREAM The 2nd Repackage Album 'Beatbox' (Digipack Ver.) - Random</h3>
                    <div class="price"> Rp214.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream album 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT DREAM The 3rd Album 'ISTJ' (Photobook Ver.) (Introvert Ver. / Extrovert Ver.) - Random</h3>
                    <div class="price"> Rp412.000 </span> </div>
                </div>
            </div>

        </div>
    </section>

    <section class="products" id="products">

        <h1 class="heading"> light<span> sticks </span> </h1>

        <div class="box-container">

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct 127 lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT 127 - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp824.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa lightsticks.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>AESPA - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp577.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="blackpink lightsticks.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BLACKPINK - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp519.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="red velvet lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>RED VELVET - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp577.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="bts lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>BTS - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp519.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="exo light stick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>EXO - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp577.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="txt lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>TXT - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp957.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="twice lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>TWICE - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp779.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="nct dream lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NCT DREAM - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp824.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="new jeans lightstick.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>NEW JEANS - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp652.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="girls generation lightstick.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GIRL'S GENERATION - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp742.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="seventeen light stick.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">add to chart</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>SEVENTEEN - OFFICIAL LIGHT STICK</h3>
                    <div class="price"> Rp1.038.000 </span> </div>
                </div>
            </div>

        </div>
    </section>

    <section class="footer">
        <div class="box-container">

            <div class="box">
                <h3>contact info</h3>
                <a href="#">0897-9400-092</a>
                <a href="#">amandahanifa11@gmail.com</a>
                <a href="#">depok, indonesia - 16415</a>
                <img src="" alt="">
            </div>

        </div>
        <div class="credit"> created by <span> Ammanda Hannifa </span> | all rights reserved </div>

    </section>


    </body>

    </html>