<%- include ("partials/header.ejs") %>

    <section class="products" id="products">

        <h1 class="heading-pages"> official<span> merchandise </span> </h1>

        <div class="box-container">


            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>ID PHOTO HOLDER SET - 2024 aespa LIVE TOUR - SYNK : PARALLEL LINE MD</h3>
                    <div class="price"> Rp248.000 </span> </div>
                </div>
            </div>
            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>OFFICIAL FANLIGHT STRAP SET - 2024 aespa LIVE TOUR - SYNK : PARALLEL LINE MD</h3>
                    <div class="price"> Rp364.000 </span> </div>
                </div>
            </div>

            <div class="box">
                <span class="label">new</span>
                <div class="image">
                    <img src="aespa merch 2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Order Now</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>MINI POUCH SET - 2024 aespa LIVE TOUR - SYNK : PARALLEL LINE MD</h3>
                    <div class="price"> Rp797.000 </span> </div>
                </div>
            </div>
            
        </div>
    </section>